
<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/main.css')}}">
	<!-- <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/image-overlay.css')}}"> -->
	<title></title>
	<script type="text/javascript" src="{{ url_for('static',filename='js/jquery-3.4.1.min.js')}}"></script>

</head>
<body>

	<script type="text/javascript" src="{{ url_for('static',filename='js/index.js')}}"></script>
	<script type="text/javascript" src="{{ url_for('static',filename='js/slick.js')}}"></script>

	<div class="container">
	   <section class="customer-logos slider">
	      <div class="slide" id="1"><img src=""></div>
	      <div class="slide" id="2"><img src=""></div>
	      <div class="slide" id="3"><img src=""></div>
	      <div class="slide" id="4"><img src=""></div>
	      <div class="slide" id="5"><img src=""></div>
	      <div class="slide" id="6"><img src=""></div>
	      <div class="slide" id="7"><img src=""></div>
	      <div class="slide" id="8"><img src=""></div>
	      <div class="slide" id="9"><img src=""></div>
	   </section>
	   
	</div>

</body>
</html>